html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0 10px;
}

ul {
  list-style-type: none;
}

.d-flex {
  display: flex;
  align-items: center;
}


.get-today {
  position: relative;
}

@import 'header';
@import 'blockWeek.scss';
@import 'sectorEvents';
@import 'event';
@import 'popup';